{% extends 'layout.html' %}
{% set active_page = 'home' %}
{% block title %}Home Page{% endblock %}
{% block content %}
  <h3>US Energy Information from 1949 to 2014</h3>
  <p>This page contains information on energy consumption, production, importation, and exportation of various fuel sources. The data set is reported to be in the  quadrillion BTUs, which is alot. Throughout the data set as the years increase we can see that United States energy consumption is growing at a rapid rate causing more fossil fuels to be used. However as over energy consumption grows, the US Government has made decent progress in creating clean and renewable energy.</p>
  <p>With data provided by the United States Government, overtime we can see an increase in energy produced by wind and solar energy. The Government stated using wind  turbines in 1982 to produce minimal amounts of energy, but in about 2009 wind turbines created 1% of all energy the US consumed. Similarly solar panels originally started in 1983 to produce 5.5e-05% of the total energy used by the US.</p>
  <img src="{{url_for('static',filename='bitEnrg.jpg')}}" alt="dsfdsa" id ="homeimg">
{% endblock %}
