{% extends 'layout.html' %}
{% set active_page = 'home' %}
{% block title %}Home Page{% endblock %}
{% block content %}
  <h3>US Energy Information from 1949 to 2014</h3>
  <p>This page contains information on energy consumption, production, importation, and exportation of various fuel sources. The data set is reported to be in the  quadrillion BTUs, which is alot. Throughout the data set as the years increase we can see that United States energy consumption is growing at a rapid rate causing more fossil fuels to be used. However as over energy consumption grows, the US Government has made decent progress in creating clean and renewable energy.</p>
{% endblock %}
